<mat-grid-list (window:resize)="onResize($event)" [cols]="breakpoint" rowHeight="0.9:0.8">
  <mat-grid-tile *ngFor="let item of videoList">
    <mat-card class="hmcc">
      <a (click)="play()" routerLink="/video/play/{{ item.videoID }}">
        <mat-card-content>
          <img mat-card-image src="//127.0.0.1:9001/{{ item.thumb }}">
          <span class="overlay-timecode-right">{{ d2tc(item.duration) }}</span>
          <!--        <span class="overlay-timecode-left"><mat-icon style="height: 12px;top: 5%;">remove_red_eye</mat-icon>8000</span>-->
        </mat-card-content>
      </a>
      <h3>{{ item.title }}</h3>
      <mat-card-actions *ngIf="adminAction">
        <button *ngIf="item.approvalState == 'H'" mat-button style="background: green" (click)="adminActionApprove(item.videoID)">APPROVE</button>
        <button mat-button style="background: red" (click)="adminActionDelete(item.videoID)">DELETE</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>


