/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.login-wrapper{
  margin-top: 10%;
  display: flex;
  justify-content: center;

}

.overlay-timecode-right {
  position: absolute;
  top: 55%;
  right: 4%;
  color: white;
  font-size: 12px;
  padding-left: 1px;
  padding-right: 1px;
  background: slategray;
  font-weight: bold;
}
.overlay-timecode-left {
  position: absolute;
  top: 55%;
  left: 4%;
  color: white;
  font-size: 12px;
  padding-left: 1px;
  padding-right: 1px;
  background: slategray;
  font-weight: bold;
  max-height: 12px;
}
