<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Create new account</mat-card-title>
    </mat-card-header>

    <form [formGroup]="signupForm" class="" (ngSubmit)="signup()">

      <mat-card-content>
        <mat-form-field class="">
          <input matInput formControlName="email" placeholder="Email">
        </mat-form-field>
      </mat-card-content>
      <mat-card-content>
        <mat-form-field class="">
          <input matInput formControlName="password" placeholder="Password">
        </mat-form-field>
      </mat-card-content>
      <mat-card-content>
        <mat-form-field class="">
          <input matInput formControlName="confirm_password" placeholder="Confirm Password">
        </mat-form-field>
      </mat-card-content>
      <mat-card-content>
        <mat-form-field appearance="fill">
          <mat-label>Your birth date</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="birth_date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </mat-card-content>
      <button mat-stroked-button color="" [disabled]="!signupForm.valid" class="btn-block">Register</button>

    </form>
  </mat-card>
</div>
